<?xml version="1.0" encoding="utf-8"?>
<package id="5274bf6a-9ad4-4634-a4f0-fe9e047cfcbd" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <name>TypeOrm.SqlServer.TestApplication.Services</name>
  <externalReference>e0709bc5-0989-4acf-ba2d-b5448c968527</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="af72b6bd-876c-476a-94be-1ec850226251" include="Intent.NodeJS.NestJS.Validation" isExternal="true">
      <module>Intent.NodeJS.NestJS.Validation</module>
    </reference>
    <reference packageId="7d933c84-81af-4b27-94dc-80ea712a4c7e" include="TypeOrm.SqlServer.TestApplication.Domain" isExternal="true">
      <path>../../Domain/TypeOrm.SqlServer.TestApplication.Domain/TypeOrm.SqlServer.TestApplication.Domain.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>