<?xml version="1.0" encoding="utf-8"?>
<package id="26bc0f06-1525-4c6e-9b85-2814632df72c">
  <name>Intent.NestJS.Controllers.Services</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
      <path>../../../../.intent/modules/Intent.Modelers.Services.3.0.0/packages/Intent.Modelers.Services/Intent.Modelers.Services.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>