<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.4.2" />
  <module moduleId="Intent.Common.CSharp" version="3.3.38" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.Common.TypeScript" version="3.4.3" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.5.5" metadataOnly="true" />
  <module moduleId="Intent.Modelers.Domain" version="3.4.4" metadataOnly="true" />
  <module moduleId="Intent.ModuleBuilder" version="3.6.8-pre.0" />
  <module moduleId="Intent.ModuleBuilder.TypeScript" version="3.3.9-pre.0" />
  <module moduleId="Intent.NodeJS.Domain" version="3.3.7" metadataOnly="true" />
  <module moduleId="Intent.Npm" version="3.3.5" metadataOnly="true" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.1.2" />
  <module moduleId="Intent.TypeScript.Weaving.Decorators" version="3.3.6" metadataOnly="true" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.28" />
</modules>