<?xml version="1.0" encoding="utf-8"?>
<assetRepositories>
  <entries>
    <entry>
      <name>Test</name>
      <address>C:\Dev\Intent.Modules.NodeJS\Intent.Modules</address>
      <isBuiltIn>false</isBuiltIn>
    </entry>
    <entry>
      <name>Intent Modules (Open Source)</name>
      <address>C:\Dev\Intent.Modules\Modules\Intent.Modules</address>
      <isBuiltIn>false</isBuiltIn>
    </entry>
  </entries>
</assetRepositories>