<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.0.6" />
  <module moduleId="Intent.Common.CSharp" version="3.0.10" />
  <module moduleId="Intent.Common.Types" version="3.0.5" />
  <module moduleId="Intent.Common.TypeScript" version="3.0.8" />
  <module moduleId="Intent.Metadata.WebApi" version="3.0.4" />
  <module moduleId="Intent.Modelers.Domain" version="3.0.4" />
  <module moduleId="Intent.Modelers.Services" version="3.0.3" />
  <module moduleId="Intent.NestJS.Controllers" version="3.0.0" />
  <module moduleId="Intent.NestJS.Core" version="3.0.0" />
  <module moduleId="Intent.OutputTargets.Folders" version="3.0.3" />
  <module moduleId="Intent.TypeORM.Entities" version="3.0.0" />
  <module moduleId="Intent.TypeScript.Domain" version="1.0.0" />
  <module moduleId="Intent.TypeScript.Weaving.Decorators" version="1.0.0" />
</modules>