<?xml version="1.0" encoding="utf-8"?>
<package id="561c8111-22e4-4b8f-958e-1b3326abe106" type="Root Location Package" typeId="fbca4a65-b376-482c-a23d-32da9908cac9">
  <name>TypeOrm.SqlServer.TestApplication</name>
  <externalReference>b76db81e-481b-4710-a452-bf7ffe3049b7</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>