<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.ApplicationTemplate.Builder" version="3.3.1" />
  <module moduleId="Intent.Common" version="3.3.11" />
  <module moduleId="Intent.Common.CSharp" version="3.3.17" />
  <module moduleId="Intent.Common.Types" version="3.3.5" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.12" />
</modules>